#js
reactNativeCompent/node_modules

# temp
*.log
*.cache
*.diff
*.patch
*.tmp
.idea
*.gz
*.zip
*.tar


# python
*.pyc
venv/
bin/
local/
lib/
include/
tmp/*

# java
.classpath
.project
.settings/
target/

apidoc
log

/venc
